.html5-player-container{
    --normalPlayerWidth: 0;
    --normalPlayerHeight: 0;
    --theatreModeWidth: 0;
    --theatreModeHeight: 0;
    position: relative;
}

video{
    width: 100%;
    margin: auto;
}