.watch{
    height: 700px;
}

.columns{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.main-column{
    padding: 0px 20px;
    padding-right: 10px;
    width: fit-content;
}

.secondary-column{
    min-width: 400px;
    width: 400px;
    padding-left: 15px;
}

@media (max-width: 1041px) {
    .secondary-column{
        display: none;
    }    
    .main-column{
        padding-right: 20px;
    }
}